body {
  font-family: ubuntu, sans-serif;
  color: #50045c;
}

#header {
  margin: auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;
}

#header a:link, #header a:visited {
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#header .pages {
  margin-left: -5ex;
}

#header .pages a[href] {
  display: inline-block;
  width: 15ex;
  padding: 5px;
  text-align: center;
}

#header .pages a[href]:hover {
  background-color: #f0d8ff;
}

#header .pages a[href].active {
  background-color: #808080;
  color: #ffffff;
}

#pages {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 30px;
  max-width: 900px;
  margin: auto;
  color: #50045c;
}

#pages h2 {
  margin-top: 0em;
  background-color: #808080;
  color: #f5f5f5;
  margin-left: -40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

[page] form {
  margin: auto;
  width: 70%;
}

[page] {
  min-height: 5em;
}

[page] form textarea {
  width: 100%;
  height: 10em;
}

button {
  cursor: pointer;
  background-color: #804094;
  color: #f5f5f5;
  border-width: 0px;
  border-radius: 3px;
  padding: 8px;
  width: 100px;
}

button:hover {
  background-color: #a055b5;
  color: white;
}

[page] {
  display: none;
}

.active[page] {
  display: block;
}

.line {
  margin-bottom: 0.5em;
}

.right {
  float: right;
  width: 150px;
}
